server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  sql:
    init:
      mode: always

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
 #   url: jdbc:mysql://finalpjt.czw5l09fympo.ap-northeast-2.rds.amazonaws.com:3306/iroko?serverTimezone=Asia/Seoul
    url: jdbc:mysql://localhost:3306/iroko?serverTimezone=Asia/Seoul
    username: root
    password: joon1234
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  profiles:
    include: auth

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: true
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
      use-new-id-generator-mappings: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        highlight_sql: true

logging:
  level:
    org:
      hibernate:
        type: trace


jwt:
  secret: c3ByaW5nLWJvb3Qtc2VjdXJpdHktand0LXR1dG9yaWFsLWppd29vbi1zcHJpbmctYm9vdC1zZWN1cml0eS1qd3QtdHV0b3JpYWwK
